<%- include ('partials/head') %>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <h3>Add Account</h3>
            <div class="col-10 offset-1">
                <form action="/save" method="POST">
                    <input type="text" name="first_name" class="form-control" placeholder="First Name" ><br>
                    <input type="text" name="last_name" class="form-control" placeholder="Last Name" ><br>
                    <input type="text" name="email" class="form-control" placeholder="E-mail" ><br>
                    <input type="text" name="tel" class="form-control" placeholder="Phone" ><br>
                    <button class="btn btn-primary form-control">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/footer') %>      
